version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  # https://github.com/dependabot/dependabot-core/issues/2178
  # - package-ecosystem: "docker"
  #   directory: "/docker/epgstation"
  #   schedule:
  #     interval: "weekly"
  - package-ecosystem: "docker"
    directory: "/docker/dnsdist"
    schedule:
      interval: "weekly"
  - package-ecosystem: "docker"
    directory: "/docker/dnsmasq"
    schedule:
      interval: "weekly"
  - package-ecosystem: "docker"
    directory: "/docker/nextcloud"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "nextcloud"
        update-types:
          - "version-update:semver-major"
  # - package-ecosystem: "docker"
  #   directory: "/docker/wordpress"
  #   schedule:
  #     interval: "weekly"
  # k8s manifests - k8s
  - package-ecosystem: "docker"
    directory: "/kubernetes/dns"
    schedule:
      interval: "weekly"
  - package-ecosystem: "docker"
    directory: "/kubernetes/nextcloud"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "mariadb"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
  # - package-ecosystem: "docker"
  #   directory: "/kubernetes/wordpress"
  #   schedule:
  #     interval: "weekly"
  #   ignore:
  #     - dependency-name: "mariadb"
  #       update-types:
  #         - "version-update:semver-major"
  - package-ecosystem: "docker"
    directory: "/kubernetes/immich"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "ghcr.io/immich-app/postgres"
        update-types:
          - "version-update:semver-major"
      - dependency-name: "valkey/valkey"
        update-types:
          - "version-update:semver-major"
  # - package-ecosystem: "docker"
  #   directory: "/kubernetes/tv"
  #   schedule:
  #     interval: "weekly"
  #   ignore:
  #     - dependency-name: "mariadb"
  #       update-types:
  #         - "version-update:semver-major"
  #         - "version-update:semver-minor"
