apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-tekton
  namespace: tekton-pipelines
  annotations:
    nginx.ingress.kubernetes.io/auth-url: https://{{ auth_fqdn }}/oauth2/auth
    nginx.ingress.kubernetes.io/auth-signin: https://{{ auth_fqdn }}/oauth2/start?rd=https://{{ tekton_fqdn }}/$escaped_request_uri
    cert-manager.io/cluster-issuer: letsencrypt-cluster-issuer
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - "{{ tekton_fqdn }}"
      secretName: tekton-cert
  rules:
    - host: "{{ tekton_fqdn }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: tekton-dashboard
                port:
                  number: 9097
