---
# file: roles/common/tasks/main.yml
- name: Update all packages to their latest version
  ansible.builtin.apt:
    name: "*"
    state: latest # noqa package-latest
    update_cache: true
  become: true

- name: Install a list of common packages
  ansible.builtin.apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - open-iscsi
      - nfs-common
      - python3-pip
      - jq
      - sysstat
    state: present
    update_cache: true
  become: true

- name: Install pip packages
  ansible.builtin.pip:
    name:
      - kubernetes
      - pyyaml
    extra_args: --break-system-packages
    executable: pip3.12
  become: true

- name: Remove dependencies that are no longer required
  ansible.builtin.apt:
    autoremove: true
  become: true

- name: For common
  block:
    - name: Import timezone.yml
      ansible.builtin.import_tasks:
        file: timezone.yml

    - name: Import swap.yml
      ansible.builtin.import_tasks:
        file: swap.yml

    - name: Import logrotate.yml
      ansible.builtin.import_tasks:
        file: logrotate.yml

    - name: Import kernel.yml
      ansible.builtin.import_tasks:
        file: kernel.yml

    - name: Import helm.yml
      ansible.builtin.import_tasks:
        file: helm.yml

    - name: Import dns.yml
      ansible.builtin.import_tasks:
        file: dns.yml

- name: For kubeadm
  when: inventory_hostname != "k3s" and
        inventory_hostname != "k3s-vps"
  become: true
  block:
    - name: Import crio.yml
      ansible.builtin.import_tasks:
        file: crio.yml

    - name: Import kubeadm.yml
      ansible.builtin.import_tasks:
        file: kubeadm.yml

- name: For k3s
  ansible.builtin.import_tasks:
    file: k3s.yml
  when: inventory_hostname == "k3s" or
        inventory_hostname == "k3s-vps"

- name: Update all packages to their latest version
  ansible.builtin.apt:
    name: "*"
    state: latest # noqa package-latest
    update_cache: true
  become: true
