apiVersion: v1
kind: PersistentVolume
metadata:
  name: nextcloud-pv
spec:
  capacity:
    storage: 30Gi
  accessModes:
    - ReadWriteOncePod
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-storage
  claimRef:
    namespace: nextcloud
    name: app-nextcloud-0
  local:
    path: /pool/nextcloud/nextcloud-app
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
          - key: kubernetes.io/hostname
            operator: In
            values:
              - k3s-oci
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: nextcloud-data-pv
spec:
  capacity:
    storage: 8Ti
  accessModes:
    - ReadWriteOncePod
  persistentVolumeReclaimPolicy: Retain
  storageClassName: iscsi-hdd-storage
  claimRef:
    namespace: nextcloud
    name: data-nextcloud-0
  iscsi:
    targetPortal: 10.254.0.2:3260
    iqn: iqn.2005-10.org.freenas.ctl:nextcloud-data
    lun: 0
    fsType: xfs
    readOnly: false
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: nextcloud-mariadb-pv
spec:
  capacity:
    storage: 30Gi
  accessModes:
    - ReadWriteOncePod
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-storage
  claimRef:
    namespace: nextcloud
    name: data-nextcloud-mariadb-0
  local:
    path: /pool/nextcloud/nextcloud-mariadb
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
          - key: kubernetes.io/hostname
            operator: In
            values:
              - k3s-oci
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: nextcloud-static-pv
spec:
  capacity:
    storage: 30Gi
  accessModes:
    - ReadWriteOncePod
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-storage
  claimRef:
    namespace: nextcloud
    name: static-nextcloud-0
  local:
    path: /pool/nextcloud/static-files
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
          - key: kubernetes.io/hostname
            operator: In
            values:
              - k3s-oci
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: nextcloud-musics-pv
spec:
  capacity:
    storage: 500Gi
  accessModes:
    - ReadWriteOncePod
  persistentVolumeReclaimPolicy: Retain
  storageClassName: nfs-hdd-storage
  claimRef:
    namespace: nextcloud
    name: musics-nextcloud-0
  nfs:
    server: 10.254.0.2
    path: /mnt/ssd/musics
  mountOptions:
    - nfsvers=4.2
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: nextcloud-videos-pv
spec:
  capacity:
    storage: 2Ti
  accessModes:
    - ReadWriteOncePod
  persistentVolumeReclaimPolicy: Retain
  storageClassName: nfs-hdd-storage
  claimRef:
    namespace: nextcloud
    name: videos-nextcloud-0
  nfs:
    server: 10.254.0.2
    path: /mnt/hdd/nfs/videos
  mountOptions:
    - nfsvers=4.2
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: nextcloud-photos-pv
spec:
  capacity:
    storage: 2Ti
  accessModes:
    - ReadWriteOncePod
  persistentVolumeReclaimPolicy: Retain
  storageClassName: nfs-hdd-storage
  claimRef:
    namespace: nextcloud
    name: photos-nextcloud-0
  nfs:
    server: 10.254.0.2
    path: /mnt/hdd/nfs/photos
  mountOptions:
    - nfsvers=4.2
