apiVersion: v1
kind: ConfigMap
metadata:
  name: nextcloud-env
  namespace: nextcloud
data:
  TZ: "Asia/Tokyo"
  NEXTCLOUD_ADMIN_USER_FILE: /secrets/nextcloud_admin_user
  NEXTCLOUD_ADMIN_PASSWORD_FILE: /secrets/nextcloud_admin_password
  NEXTCLOUD_DATA_DIR: /mnt/nextcloud
  EXTERNAL_DIR: /mnt/static
  OVERWRITEPROTOCOL: https
  TRUSTED_PROXIES: nextcloud
  NEXTCLOUD_TRUSTED_DOMAINS: "{{ nextcloud_host }}"
  MYSQL_HOST: nextcloud-mariadb
  MYSQL_USER: nextcloud
  MYSQL_DATABASE: nextcloud
  MYSQL_PASSWORD_FILE: /secrets/nextcloud_mariadb_user_password
  REDIS_HOST: nextcloud-redis
  SMTP_HOST: smtp.gmail.com
  SMTP_PORT: "587"
  SMTP_SECURE: tls
  MAIL_FROM_ADDRESS: no-reply
  MAIL_DOMAIN: files.localhost
  SMTP_PASSWORD_FILE: /secrets/nextcloud_smtp_password
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nextcloud-init
  namespace: nextcloud
data:
  config.sh: |
    #!/bin/sh
    set -eu

    run_as() {
      if [ "$(id -u)" = 0 ]; then
        su -p www-data -s /bin/sh -c "$1"
      else
        sh -c "$1"
      fi
    }

    run_as 'php /var/www/html/occ app:enable files_external'
    run_as 'php /var/www/html/occ app:enable twofactor_totp'
    run_as 'php /var/www/html/occ app:enable suspicious_login'
    run_as 'php /var/www/html/occ app:enable admin_audit'

    run_as 'php /var/www/html/occ config:system:set default_phone_region --value=JP'
    run_as 'php /var/www/html/occ config:app:set files max_chunk_size --value 94371840' # 90MiB
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    app: nextcloud
  name: nextcloud
  namespace: nextcloud
spec:
  replicas: 1
  serviceName: nextcloud
  selector:
    matchLabels:
      app: nextcloud
  template:
    metadata:
      labels:
        app: nextcloud
    spec:
      securityContext:
        fsGroup: 33
      containers:
        - name: nextcloud
          image: ghcr.io/akashisn/nextcloud@sha256:a146a80f549b48722a84c5e25ae55c5ee400ca614e6dca105382c12fcd6ca19d
          imagePullPolicy: IfNotPresent
          envFrom:
            - configMapRef:
                name: nextcloud-env
          env:
            - name: SMTP_NAME
              valueFrom:
                secretKeyRef:
                  name: nextcloud-secrets
                  key: nextcloud_smtp_user
          volumeMounts:
            - name: app
              mountPath: /var/www/html
            - name: data
              mountPath: /mnt/nextcloud
            - name: static
              mountPath: /mnt/static
            - name: nextcloud-init
              mountPath: /custom-entrypoint/config.sh
              subPath: config.sh
              readOnly: true
            - name: nextcloud-secrets
              mountPath: /secrets
          resources:
            requests:
              cpu: 300m
              memory: 200Mi
            limits:
              cpu: 500m
              memory: 1000Mi
        - name: nginx
          image: nginx:mainline
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
              name: nginx-nextcloud
            - containerPort: 8080
              name: nginx-static
          volumeMounts:
            - name: app
              mountPath: /var/www/html
            - name: static
              mountPath: /mnt/static
            - name: nginx-conf
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
              readOnly: true
            - name: nginx-conf
              mountPath: /etc/nginx/conf.d/nextcloud.conf
              subPath: nextcloud.conf
              readOnly: true
            - name: nginx-conf
              mountPath: /etc/nginx/conf.d/static.conf
              subPath: static.conf
              readOnly: true
          resources:
            requests:
              cpu: 100m
              memory: 1000Mi
            limits:
              cpu: 300m
              memory: 2000Mi
      volumes:
        - name: nextcloud-init
          configMap:
            name: nextcloud-init
        - name: nextcloud-secrets
          secret:
            secretName: nextcloud-secrets
        - name: nginx-conf
          configMap:
            name: nginx-conf
  volumeClaimTemplates:
    - metadata:
        name: app
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: iscsi-ssd-storage
        resources:
          requests:
            storage: 30Gi
    - metadata:
        name: static
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: iscsi-ssd-storage
        resources:
          requests:
            storage: 30Gi
    - metadata:
        name: data
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: iscsi-hdd-storage
        resources:
          requests:
            storage: 8Ti
---
apiVersion: v1
kind: Service
metadata:
  labels:
    service: nextcloud
  name: nextcloud
  namespace: nextcloud
spec:
  ports:
    - name: nginx-nextcloud
      port: 80
      targetPort: nginx-nextcloud
    - name: nginx-static
      port: 8080
      targetPort: nginx-static
  selector:
    app: nextcloud
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-nextcloud
  namespace: nextcloud
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-cluster-issuer
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - "{{ nextcloud_host }}"
        - "{{ nextcloud_static_host }}"
      secretName: letsencrypt-cert
  rules:
    - host: "{{ nextcloud_host }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: nextcloud
                port:
                  name: nginx-nextcloud
    - host: "{{ nextcloud_static_host }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: nextcloud
                port:
                  name: nginx-static
