global:
 domain: "{{ argocd_fqdn }}"
configs:
  cm:
    create: true
    url: "https://{{ argocd_fqdn }}"
    admin.enabled: false
    statusbadge.enabled: true
    oidc.config: |-
      name: cloudflare
      issuer: "{{ argocd_cloudflare_issuer }}"
      clientID: "{{ argocd_cloudflare_client_id }}"
      clientSecret: "{{ argocd_cloudflare_client_secret }}"
      requestedIDTokenClaims:
        email:
          essential: true
      requestedScopes:
        - openid
        - profile
        - email
        - groups
  params:
    server.insecure: true
  rbac:
    policy.default: "role:admin"
    scopes: "[email]"
  secret:
    githubSecret: "{{ argocd_webhook_github_secret }}"
dex:
  enabled: false
server:
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-cluster-issuer
    hostname: "{{ argocd_fqdn }}"
    extraTls:
      - secretName: argocd-cert
        hosts:
          - "{{ argocd_fqdn }}"
