apiVersion: v1
kind: PersistentVolume
metadata:
  name: immich-photos-pv
spec:
  capacity:
    storage: 2Ti
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-storage
  claimRef:
    namespace: immich
    name: immich-photos-pvc
  local:
    path: /pool/immich/immich-photos
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
          - key: storage.immich
            operator: In
            values:
              - "true"
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: immich-postgres-pv
spec:
  capacity:
    storage: 100Gi
  accessModes:
    - ReadWriteOncePod
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-storage
  claimRef:
    namespace: immich
    name: data-immich-postgres-0
  local:
    path: /pool/immich/immich-postgres
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
          - key: storage.immich
            operator: In
            values:
              - "true"
