apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: default-pool
  namespace: kube-system
spec:
  addresses:
    - {{ metallb_ipv4_range }}
---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: ingress-pool
  namespace: kube-system
spec:
  addresses:
    - {{ nginx_ingress_lb_v4_addr }}/32
{% if default_interface_v6.stdout != "" %}
    - {{ ipv6_prefix }}:{{ nginx_ingress_lb_v6_host_addr }}/128
{% endif %}
---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: dns-pool
  namespace: kube-system
spec:
  addresses:
    - {{ dns_lb_v4_addr }}/32
{% if default_interface_v6.stdout != "" %}
    - {{ ipv6_prefix }}:{{ dns_lb_v6_host_addr }}/128
{% endif %}
---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: palworld-pool
  namespace: kube-system
spec:
  addresses:
    - {{ palworld_lb_v4_addr }}/32
{% if default_interface_v6.stdout != "" %}
    - {{ ipv6_prefix }}:{{ palworld_lb_v6_host_addr }}/128
{% endif %}
---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: minecraft-pool
  namespace: kube-system
spec:
  addresses:
    - {{ minecraft_lb_v4_addr }}/32
{% if default_interface_v6.stdout != "" %}
    - {{ ipv6_prefix }}:{{ minecraft_lb_v6_host_addr }}/128
{% endif %}
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: l2-ip
  namespace: kube-system
spec:
  ipAddressPools:
    - default-pool
    - ingress-pool
    - dns-pool
    - minecraft
    - palworld-pool
