#cloud-config
version: 2
ethernets:
  ens18:
    dhcp4: false
    dhcp6: false
    accept-ra: false
    link-local: [ ]
    addresses:
      - ${ipv4_address}/${ipv4_prefix}
    routes:
      - to: default
        via: ${ipv4_default_gateway}
    nameservers:
      addresses:
        - 1.1.1.1
        - 8.8.8.8
