[s3]
storage-url: s3://
backend-login: {{ s3ql_access_key_id }}
backend-password: {{ s3ql_secret_access_key }}
{% for fs in s3ql_filesystems %}

[{{ fs.name }}]
storage-url: {{ fs.storage_url }}
fs-passphrase: {{ fs.fs_passphrase }}
{% endfor %}
