[s3main]
storage-url: {{ immich_s3ql_bucket_url }}
backend-login: {{ immich_s3ql_aws_access_key_id }}
backend-password: {{ immich_s3ql_aws_secret_access_key }}
fs-passphrase: {{ immich_s3ql_fs_passphrase }}
