[Unit]
Description=Verify S3QL backend integrity for Immich photos
Conflicts=s3ql-immich.service
After=s3ql-immich.service

[Service]
Type=oneshot
TimeoutStartSec=infinity
ExecStart=/usr/local/bin/s3ql_verify --authfile /root/.s3ql/authinfo2 --missing-file /var/log/s3ql-verify-missing.txt --corrupted-file /var/log/s3ql-verify-corrupted.txt {{ immich_s3ql_bucket_url }}
ExecStopPost=/bin/systemctl start s3ql-immich.service
