apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: "{{ node_ip.stdout }}"
  bindPort: 6443
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
controlPlaneEndpoint: "{{ node_ip.stdout }}"
networking:
  podSubnet: "10.244.0.0/16,{{ ipv6_prefix.stdout }}:cafe:0::/96"
  serviceSubnet: "10.96.0.0/16,{{ ipv6_prefix.stdout }}:cafe:1::/112"
controllerManager:
  extraArgs:
    node-cidr-mask-size-ipv4: "24"
    node-cidr-mask-size-ipv6: "112"
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
serverTLSBootstrap: true
rotateCertificates: true
